*{
    padding: 0px;
    margin: 0px;
}

.nav-main {
    width: 102vw;
    height: 3.04rem;
    background-color: rgb(39, 46, 113);
    display: flex;
    justify-content: space-around;
}

.nav-logo {
    margin-top: 0.6em;
}

.nav-logo img {
    width: 10em;
    height: 1.8em;
}

.nav-search {
    margin-top: 0.7em;
}

.nav-search input {
    width: 24em;
    height: 1.8em;
    text-align: center;
    border: none;
    border-radius: 5px;
    /* border: none; */
}

.nav-search input::placeholder {
    text-align: left;
}

.nav-search i {
    position: absolute;
    margin-top: 0.9em;
    margin-left: -2.0em;

}

.nav-icon {
    margin-top: 0.7em;
    padding-left: 9px;
    display: flex;
    justify-content: space-between;
}

.nav-icon span {
    color: white;
    font-size: small;
}

.nav-icon i {
    color: white;
    padding-left: 9px;

}

.nav-icon i:first-child {
    padding-right: 1rem;

}

.nav-icon .dp {
    width: 1.9em;
    height: 1.9em;
    border-radius: 50%;
    background-color: white;
    margin-left: 1.4em;
}

.nav-icon .dp img {
    width: 1.9em;
    height: 1.9em;
    border-radius: 50%;
}

/* ===================================== */
.center-part-main {
    width: 100vw;
    /* border: 2px solid red; */
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
}

.center-part {
    width: 80em;
    height: 30em;
    /* border: 2px solid yellow; */
    display: flex;
    /* border: 2px solid green; */
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
}

.center-left {
    margin-top: -6.0rem;
    width: 14em;
    height: 19em;
    /* border:2px solid blue; */

}

.center-middle {
    margin-top: 1.2rem;
    width: 30em;
    /* height:20em ; */
    /* border:2px solid orange; */

}

.center-right {
    margin-top: 0rem;
    width: 14em;
    height: 20em;
    /* border:2px solid red; */

}

.personal-det {
    display: flex;
    margin: 0.8rem;

}

.personal-pic {
    margin-right: 0.9rem;

}

.personal-pic img {
    width: 3.6em;
    height: 3.0em;
    border-radius: 50%;

}

.center-left .menu a {
    text-decoration: none;
    /* padding: 12px; */
    color: #6B7280;
    font-size: 0.8rem;
    font-weight: 100;
}

.center-left .menu {
    margin-left: 1.2rem;
}

.center-left .menu a i {
    margin-bottom: 1.05rem;
    margin-left: 0.08rem;
    color: #6B7280;
}

.center-nav {
    width:28rem;
}

.center-nav i {
    padding-left: 0.08rem;
    color: #6B7280;
}

.center-nav span {
    color: #6B7280;

}

.center-content {
    margin-top: 1rem;
 position: relative;


}

.center-para h4 {
    color: #6B7280;

}

.center-para p {
    margin-top: 1rem;
    color: #6B7280;
    font: Open Sans;
    size: 14px;
    font-weight: 400;
    line-height: 24px;

}

.center-pic img {
    width: 29em;
    height: 12em;
    /* position: relative; */
}
.cardlevel img{
height: 31px;
width: 63px;
}

.btn{
   /* border: 1px solid red ; */
    position: absolute;
    width: 4rem;
    height: 2rem;
    top: 1px;
    left:1px;
}

/* ======================================= */
.center-right h3 {
    color: #6B7280;

}

.center-right img {
    margin-top: 1rem;
    width: 9em;
    height: 1.9em;
}

.right-personal-det {
    display: flex;
}

.right-personal-pic img {
    width: 4em;
    height: 3.2em;
    border-radius: 50%;

}

.right-personal-info {
    margin: 1rem;
    color: #6B7280;

}

.location {
    display: flex;
}

.location p {
    color: #6B7280;

}

.location i {
    color: #6B7280;
}

.map {
    margin-top: 1rem;
    margin-left: 1rem;
}

.map iframe {
    width: 14em;
    height: 09em;
    border: none;

}

/* ==================================================== */
/* ================================================== */




/* =============================================== */
/* ================================================== */
.video-card {
    width: 60rem;
    height: 20rem;
    /* border: 2px solid yellow; */
    float: right;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.video-card h5 {

    color: #374151;
    font-size: 16px;
    font-weight: 600;
}

.video-card-video {
    margin-top: 2rem;
    margin-left: 6rem;
    width: 715px;
    height: 400px;
    /* border: 2px solid blue; */
    align-items: center;
}

/* =========================================== */
.other-detail-card {
    margin-top: 2rem;
    width: 60rem;
    height: 10rem;
    /* border: 2px solid blue; */
    float: right;
}

.other-detail-card h4 {
    color: #374151;
}

.uppar {
    display: flex;
    justify-content: space-between;
    color: #6B7280;
}

.uppar .uppar-heading {
    width: 29rem;
    height: 3rem;
    /* border: 2px solid black; */

}

.uppar .uppar-heading i {
    color: #6B7280;

}

.uppar .uppar-heading .label {
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: #6B7280;
}

/* ==================== */
.lower {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    color: #6B7280;
}

.lower .lower-heading {
    width: 29rem;
    height: 3rem;
    /* border: 2px solid black; */
}

.lower .lower-heading i {
    color: #6B7280;

}

.lower .lower-heading .label {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.label-li {
    width: 15rem;
    margin-left: 1rem;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    color: #E5E7EB;

}

#trl {
    background-color: #6B7280;
    border-radius: 4px;
    /* padding: 0.6rem; */
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    color: #E5E7EB;
}

#dollar {
    background-color: #6B7280;
    border-radius: 4px;
    /* padding: 0.6rem; */
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    color: #E5E7EB;
}

.label-li li {
    background-color: #6B7280;
    border-radius: 4px;
    /* padding: 0.6rem; */
    padding-right: 0.9rem;
    padding-left: 0.9rem;

}

@media only screen and (max-width: 1052px) {
    .center-part {
        width: 65em;
        height: 29em;
        /* border: 2px solid yellow; */
        display: flex;
        /* border: 2px solid green; */
        justify-content: center;
        align-items: center;
        /* background-color: yellow; */

    }
    .nav-main {
        width: 100vw;
        height: 3.04rem;
        background-color: rgb(39, 46, 113);
        display: flex;
        justify-content: space-around;
    }
    .nav-search input {
        width: 26em;
        height: 1.8em;
        text-align: center;
        border: none;
        border-radius: 5px;
        /* border: none; */
    }
    .center-left {
        margin-top: -6.0rem;
        width: 13em;
        height: 16em;
        /* border:2px solid blue; */
        margin-left: 2rem;
    
    }
    
    .center-middle {
        margin-top: 1.2rem;
        width: 27em;
        /* height:20em ; */
        /* border:2px solid orange; */
    
    }
    
    .center-right {
        margin-top: 0rem;
        width: 13em;
        height: 20em;
        /* border:2px solid red; */
    
    }
    .center-pic img {
        width: 25em;
        height: 13em;
    
    }
    .right-personal-pic img {
        width: 3.7em;
        height: 3.0em;
        border-radius: 50%;
    
    }
    
    .right-personal-info {
        margin: 1rem;
        color: #6B7280;
    
    }
    .center-para h4 {
        color: #6B7280;
    
    }
    
    .center-para p {
        margin-top: 1rem;
        color: #6B7280;
        font: Open Sans;
        size: 12px;
        font-weight: 400;
        line-height: 22px;
    
    }
    .nav-logo img {
        width: 9em;
        height: 1.8em;
    }
    .video-card {
        width: 50rem;
        height: 18rem;
        /* border: 2px solid yellow; */
        float: right;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }
    .video-card h5 {

        color: #374151;
        font-size: 19px;
        font-weight: 500;
    }
    
    .video-card-video {
        margin-top: 2rem;
        margin-left: 6rem;
        width: 700px;
        height: 350px;
        /* border: 2px solid blue; */
        align-items: center;
    }

    .other-detail-card {
        margin-top: 2rem;
        width: 50rem;
        height: 9rem;
        /* border: 2px solid blue; */
        float: right;
    }
    
    .other-detail-card h4 {
        margin-top: 2.03rem;
        color: #374151;
    }
    .uppar .uppar-heading {
        width: 26rem;
        height: 3rem;
        /* border: 2px solid black; */
    
    }
    .uppar .uppar-heading h3{
        font-size: 16px;
    }
    .lower .lower-heading {
        width: 26rem;
        height: 3rem;
        /* border: 2px solid black; */
    }
    .lower .lower-heading h3 {
        font-size: 16px;
   
    }
    .label-li {
        width: 14rem;
        margin-left: 1rem;
        /* border: 2px solid black; */
        display: flex;
        justify-content: space-around;
        color: #E5E7EB;
    
    }
}

/* =============================================== */
/* ===================================================== */


/* ==================================================== */
/* ================================================== */
@media only screen and (max-width: 905px) {
    .center-part {
        width: 53em;
        height: 28em;
        /* border: 2px solid yellow; */
        display: flex;
        /* border: 2px solid green; */
        justify-content: center;
        align-items: center;
        /* background-color: yellow; */
        margin-left: 1.02rem;

    }
    .nav-main {
        width: 105vw;
        height: 3.04rem;
        background-color: rgb(39, 46, 113);
        display: flex;
        justify-content: space-around;
    }
    .nav-search input {
        width: 24em;
        height: 1.8em;
        text-align: center;
        border: none;
        border-radius: 5px;
        /* border: none; */
    }
    .center-left {
        margin-top: -6.0rem;
        width: 13em;
        height: 16em;
        /* border:2px solid pink; */
        margin-left: 0rem;
    
    }
    
    .center-middle {
        margin-top: 1.2rem;
        width: 26em;
        /* height:20em ; */
        /* border:2px solid black; */
    
    }
    
    .center-right {
        margin-top: 0rem;
        width: 13em;
        height: 20em;
        /* border:2px solid aqua; */
    
    }
    .center-nav {
        width:24rem;
    }
    .center-pic img {
        width: 25em;
        height: 13em;
    
    }
    .center-right img {
        margin-top: 1rem;
        width: 7em;
        height: 1.7em;
    }
    .right-personal-pic img {
        width: 2.8em;
        height: 2.9em;
        border-radius: 50%;
    
    }
    
    .right-personal-info {
        margin: 0.8rem;
        color: #6B7280;
    
    }
    .right-personal-info {
        margin: 1rem;
        color: #6B7280;
        font-size: 15px;
    
    }
    .location p{
        font-size: 14px;

    }
    .center-para h4 {
        color: #6B7280;
        font-size:12 ;
    
    }
    
    .center-para p {
        margin-top: 1rem;
        color: #6B7280;
        font: Open Sans;
        size: 10px;
        font-weight: 300;
        line-height: 20px;
    
    }
    .personal-info h4{
        margin-top:0.2rem;
        font-size: 15px;
        /* background-color: black; */

    }
    .personal-info p{
        font-size: 12px;
        /* background-color: black; */

    }
    .nav-logo img {
        width: 8em;
        height: 1.8em;
    }
    .video-card {
        width: 48rem;
        height: 18rem;
        /* border: 2px solid yellow; */
        float: right;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }
    .video-card h5 {

        color: #374151;
        font-size: 14px;
        font-weight: 500;
    }
    
    .video-card-video {
        margin-top: 2rem;
        margin-left: 6rem;
        width: 700px;
        height: 350px;
        /* border: 2px solid blue; */
        align-items: center;
    }

    .other-detail-card {
        margin-top: 2.rem;
        width: 48rem;
        height: 9rem;
        /* border: 2px solid blue; */
        float: right;
    }
    
    .other-detail-card h4 {
        margin-top: 2.05rem;
        color: #374151;
    }
    .uppar .uppar-heading {
        width: 24rem;
        height: 3rem;
        /* border: 2px solid black; */
    
    }
    .uppar .uppar-heading h3{
        font-size: 15px;
    }
    .lower .lower-heading {
        width: 24rem;
        height: 3rem;
        /* border: 2px solid black; */
    }
    .lower .lower-heading h3 {
        font-size: 15px;
   
    }
    .label-li {
        width: 14rem;
        margin-left: 1rem;
        /* border: 2px solid black; */
        display: flex;
        justify-content: space-around;
        color: #E5E7EB;
    
    }
    #trl{
        font-size: 14px;
    }
}

/* =============================================== */
/* ===================================================== */

@media only screen and (max-width: 20rem) {
    .nav-main {
        width: 185vw;
        height: 3.04rem;
        background-color: rgb(39, 46, 113);
        display: flex;
        justify-content: space-around;
    }
    .nav-search input {
       display: none;
    }
    .nav-logo {
        margin-top: 0.6em;
        margin-left: -1rem;
    }
    
    .nav-logo img {
        width: 10em;
        height: 1.4em;
        margin-left: -1rem;
    }
    .nav-search i {
        display: none;
        position: absolute;
        margin-top: 0.9em;
        margin-left: -2.0em;
    
    }
    
    .nav-icon {
        display: none;
        margin-top: 0.7em;
        padding-left: 9px;
        display: flex;
        justify-content: space-between;
    }
    
    .nav-icon span {
        display: none;
        color: white;
        font-size: small;
    }
    
    .nav-icon i {
        display: none;
        color: white;
        padding-left: 9px;
    
    }
    
    .nav-icon i:first-child {
        display: none;
        padding-right: 1rem;
    
    }
    
    .nav-icon .dp {
        display: none;
        width: 1.9em;
        height: 1.9em;
        border-radius: 50%;
        background-color: white;
        margin-left: 1.4em;
    }
    
    .nav-icon .dp img {
        width: 1.9em;
        height: 1.9em;
        border-radius: 50%;
        display: none;
    }
    /* ================================== */
    
    .center-part-main {
        width: 100vw;
        height: 100vh;
       
    }
    .center-part {
        width: 43em;
        height: 25rem;
       
    }
    .center-left {
        display: none;
        margin-top: -6.0rem;
        width: 14em;
        height: 19em;
        /* border:2px solid blue; */
    
    }
    .center-middle {
        margin-top: -1.2rem;
        width: 29em;
        height:20em ;
        margin-left: 13rem;
        /* border:2px solid orange; */
    
    }
    .center-right {
        display: none;
        margin-top: 0rem;
        width: 10em;
        height: 20em;
    
    }
    .center-pic img {
        width: 29em;
        height: 12em;
    
    }
    .video-card {
        /* display: none; */
        width: 16rem;
        height: 18rem;
        /* border: 2px solid yellow; */
        float: right;

        margin-top: 12rem;
    }
    .video-card-video {
        margin-top: 2rem;
        margin-left: -2rem;
        width: 400px;
        height: 300px;
        /* border: 2px solid blue; */
        align-items: center;
    }
    .other-detail-card {
        /* display: none; */
        margin-top: 2rem;
        width: 60rem;
        height: 10rem;
        /* border: 2px solid blue; */
        float: right;
    }
    .other-detail-card {
        margin-top: 2rem;
        width: 17rem;
        height: 9rem;
        
    }

    #trl {
        background-color: #6B7280;
        border-radius: 4px;
        /* padding: 0.6rem; */
        padding-right: 0.0rem;
        padding-left: 0.0rem;
        color: #E5E7EB;
        width: 15rem;
    }
    #dollar {
        background-color: #6B7280;
        border-radius: 4px;
        /* padding: 0.6rem; */
        padding-right: 0.9rem;
        padding-left: 0.9rem;
        color: #EAEBEF;
        margin-left: 0.6rem;
    }
    .lower .lower-heading{
        width: 29rem;
        height: 3rem;

    }
    .video-card h5{
        margin-top: 1rem;
    }}